# Ignore quantized LLM models
llm_server/quantized_models/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Conda and virtualenv
env/
venv/
*.env
*.yaml~

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# OS-specific
.DS_Store

# VSCode / IDE
.vscode/
.idea/

# Others
*.log
*.bak
